@import '../../app.scss';


tr td , tr th
{
    text-align: center; 
    vertical-align: middle;
}

.trash-icon {
  background-color: $red;
  @include icon-btn();
}

.pen-icon {
  background-color: $green;
  @include icon-btn();
}